.slideshow-container{
 display: flex;
 width: 100%;
 height: 240px;
 position: relative;


 &-img{
   
        width: 100%;
    
 }

 &-number{
    display: none;
 }
}




@media screen and (min-width: $tablet) {

    .slideshow-container{
        height: 500px;
        &-number{
            display:block;
            position: absolute;
            bottom: 10%;
            right: 50%;
            color: white;
            font-weight: bold;
            
         }
    }
}