.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  // width: 100%;
  // margin-bottom: 90px;

  
}

.collapse-container {
  width: 100%;
  margin-bottom: 20px;
  
  &-header{
    display: flex;
    align-items: center;
    width: 90%;
    position: relative;
    left: 5%;
    padding: 1px 10px;

  }
  &-content{
    width: 90%;
    position: relative;
    padding: 0px 15px;
    left: 5%;
   
  }


}


@media screen and (min-width: $tablet) {


  .collapse-container {
    width: 90%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin-bottom: 20px;
    &-header{
      width: 100%;
      position: relative;
      left: 5%;

    }

    &-content{
      width: 100%;
      position: relative;
      left: 5%;
     
    }

  
}}