.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  // width: 100%;
  // margin-bottom: 90px;

  
}

.collapse-container {
  width: 100%;
  margin-bottom: 20px;
  
  &-header{
    display: flex;
    align-items: center;
    width: 90%;
    // position: relative;
    // left: 5%;
    padding: 1px 10px;

  }
  &-content{
    width: 90%;
    position: relative;
    padding: 0px 15px;
    left: 5%;
   
  }


}


@media screen and (min-width: $tablet) {


  .collapse-container {
    width: 90%;
    margin-bottom: 20px;
    &-header{
      width: 100%;
      position: relative;
      left: 5%;

    }

    &-content{
      width: 95%;
      position: relative;
      left: 2%;
     
    }
}}




// .collapse-container-header{
//   width: 90% !important;
//   position: relative !important;
//   left: 5% !important;
//   // margin-bottom: 20px;
// }


// .collapse-container-content{
//   width: 90% !important;
//   position: relative !important;
//   left: 5% !important;
// }

.collapse-about{
  width: 90% !important;
  position: relative !important;
  align-items: center;
  justify-content: center;
  // right: 4% !important;
}

@media screen and (min-width: $tablet) {
  .collapse-about{
    width: 80% !important;}
}