.stars{
    color: $primaryColor;
    

}

.stars-empty{
    color: #E3E3E3;
    

}


.stars, .stars-empty{
font-size: 30px;
}


@media screen and (min-width: $tablet) {
    .stars, .stars-empty{
 
       position: relative;
       bottom: 40px;
       right: 20%;
    }
 }