.stars{
    color: $primaryColor;
    

}

.stars, .stars-empty{
font-size: 30px;
}


@media screen and (min-width: $tablet) {
    .stars, .stars-empty{
 
       position: relative;
       bottom: 20px;
       right: 20%;
    }
 }