.arrow-left,
.arrow-right{
    display: flex;
    position: absolute;
    top:40%;
   
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.arrow-left{
    right:1%; 
}

.arrow-right{
    left:1%;
   
}
.arrow-left:hover,
.arrow-right:hover
{
    cursor: pointer;
}

@media screen and (min-width: $tablet) {


    .arrow-left,
.arrow-right{
width: 100px;
height: 100px;

}

.arrow-left{
    right:9%; 
}

.arrow-right{
    left:9%;
   
}
}