.home-container{

    // width: 335px;
    margin: auto;
   

    &-presentation{
        height: 111px;
        border-radius: 10px;
        background: url(../assets/img-home-contrasted.png);
        
        background-size : cover;
        background-position: center;
        display: flex;
        align-items: center;
       
        
     
    
        
        &-title{
            
            color: white;
            font-size: 24px;
            padding: 20px;
            
           
            
            
        }
    }
}

