*{
    // border:1px solid red;
    box-sizing: border-box;
    // object-fit: contain;
  
}

html, body {
  // height: 100%;
  margin: 0;
  padding: 0;
}

body {
  
    // margin: 0;
    font-family: $fontFamily;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
 
  }
  



#root{
 

  max-width: 1400px;
  margin: auto;

  
}


