* {
  // border:1px solid red;
  box-sizing: border-box;
  // object-fit: contain;

}

html,
body {
  // height: 100%;
  margin: 0;
  padding: 0;
}

body {

  // margin: 0;
  font-family: $fontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


h3{
  padding: 0px;
  margin: 0px;
}

#root {


  max-width: 1400px;
  margin: auto;


}


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

// footer {
//   background-color: #f8f9fa;
//   padding: 1rem;
//   text-align: center;
//   flex-shrink: 0;
// }