//////IMPORTS/////
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



//////////COLOR///////////

$primaryColor: #FF6060;
$footerColor: black;
$textColor: white;

//////POLICE////////////////

$fontFamily: "Montserrat", sans-serif;
/////////MEDIA QUERRIES/////////////////
$phone : 375px;
$tablet: 768px;
$laptop: 1280px;
$laptopMax: 1920px;

