@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  padding: 0px;
  margin: 0px;
}

#root {
  max-width: 1400px;
  margin: auto;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile-only {
    display: inline;
  }
}
.arrow-left,
.arrow-right {
  display: flex;
  position: absolute;
  top: 40%;
}

.arrow-left {
  right: 1%;
}

.arrow-right {
  left: 1%;
}

.arrow-left:hover,
.arrow-right:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .arrow-left,
  .arrow-right {
    width: 100px;
    height: 100px;
  }
  .arrow-left {
    right: 9%;
  }
  .arrow-right {
    left: 9%;
  }
}
.slideshow-container {
  display: flex;
  width: 100%;
  height: 240px;
  position: relative;
}
.slideshow-container-img {
  width: 100%;
}
.slideshow-container-number {
  display: none;
}

@media screen and (min-width: 768px) {
  .slideshow-container {
    padding: 0px 100px;
    height: 500px;
  }
  .slideshow-container-number {
    display: block;
    position: absolute;
    bottom: 10%;
    right: 50%;
    color: white;
    font-weight: bold;
  }
}
.banner-container {
  width: 90%;
  height: 111px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  text-align: left;
  padding-left: 30px;
  font-size: 12px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: start;
  align-items: center;
}
.banner-container-title {
  color: white;
}

@media screen and (min-width: 768px) {
  .banner-container {
    height: 223px;
    justify-content: center;
    padding-left: 0px;
  }
  .banner-container-title {
    font-size: 48px;
    text-align: center;
  }
}
ul {
  padding: 0px;
  margin: 10px 0px;
}

.tags {
  display: flex;
  list-style-type: none;
  gap: 20px;
}
.tags-item {
  background-color: #FF6060;
  color: white;
  border-radius: 10px;
  font-size: 13px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stars {
  color: #FF6060;
}

.stars, .stars-empty {
  font-size: 30px;
}

.collapse-container {
  margin-bottom: 20px;
}
.collapse-container-header {
  display: flex;
  justify-content: space-between;
  background-color: #FF6060;
  border-radius: 10px;
  color: white;
}
.collapse-container-header-title {
  background-color: #FF6060;
  color: white;
  margin-left: 0px 20px;
}
.collapse-container-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}
.collapse-container-content.open {
  opacity: 1;
  max-height: 1000px; /* Set a large value to ensure content is fully shown */
}
.collapse-container-content.closed {
  opacity: 0;
  max-height: 0;
}

li {
  list-style-type: none;
}

.collapse-arrow {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}
.collapse-arrow.open {
  transform: rotate(180deg); /* Rotate 180 degrees to point down */
}
.collapse-arrow.closed {
  transform: rotate(0deg); /* Default state, pointing up */
}

.host-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.host-container-name {
  color: #FF6060;
  display: flex;
  align-items: center;
  text-align: right;
  white-space: pre-line;
}
.host-container-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.container-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  justify-items: center;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .container-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
.container-list-item {
  list-style-type: none;
  position: relative;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px black;
  width: 100%;
  height: 255px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1px;
  display: block;
}
.container-list-item-title {
  position: absolute;
  top: 160px;
  padding: 10px;
  word-wrap: break-word;
}
.container-list-item-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.container-list-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.113), rgba(0, 0, 0, 0.7));
  border-radius: 10px;
  pointer-events: none;
}

@media screen and (min-width: 1000px) {
  .container-list {
    background-color: #F6F6F6;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 40px;
    width: 90%;
  }
  .container-list-item {
    max-height: 340px;
    max-width: 380px;
    flex: calc(33% - 33px);
  }
}
a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.active {
  text-decoration: underline;
}

.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
}
.product-container-title {
  color: #FF6060;
  font-size: 20px;
}
.product-container-location {
  font-size: 15px;
}
.product-container-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
@media screen and (min-width: 768px) {
  .product-container-infos {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}
.product-container-collapse {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .product-container-collapse {
    flex-direction: row;
    justify-content: space-between;
  }
}
.product-container-collapse .collapse-container {
  width: 100%;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .product-container-collapse .collapse-container {
    width: 88%;
    margin-bottom: 0;
  }
}

.collapse-container {
  width: 100%;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .collapse-container {
    width: 48%;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .product-container-collapse {
    gap: 30px;
  }
}
.header-container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.header-container-logo {
  padding: 10px;
}
.header-container-nav {
  width: 190px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 309px;
  width: 100vw;
  background-color: black;
  color: white;
  margin: 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 1000px) {
  .footer-container {
    height: 200px;
  }
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 100px;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.collapse-container {
  width: 100%;
  margin-bottom: 20px;
}
.collapse-container-header {
  display: flex;
  align-items: center;
  width: 90%;
  position: relative;
  left: 5%;
  padding: 1px 10px;
}
.collapse-container-content {
  width: 90%;
  position: relative;
  padding: 0px 15px;
  left: 5%;
}

@media screen and (min-width: 768px) {
  .collapse-container {
    width: 90%;
    margin-bottom: 20px;
  }
  .collapse-container-header {
    width: 100%;
    position: relative;
    left: 5%;
  }
  .collapse-container-content {
    width: 100%;
    position: relative;
    left: 5%;
  }
}
.collapse-container-header {
  width: 90% !important;
  position: relative !important;
  left: 5% !important;
}

.collapse-container-content {
  width: 90% !important;
  position: relative !important;
  left: 5% !important;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FF6060;
  margin: 50px 0px 130px 0px;
  min-height: 650px;
  width: 100%;
}
.error-container-title {
  font-weight: bold;
  font-size: 96px;
}
.error-container-txt {
  margin: auto;
  text-align: center;
  font-weight: bold;
}
.error-container-link {
  text-decoration: underline;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .error-container-title {
    font-size: 296px;
  }
  .error-container-txt {
    font-size: 35px;
    margin-bottom: 200px;
  }
}/*# sourceMappingURL=main.css.map */