.home-container{

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    margin: auto;
    // width: 95%;
   

}
.container-list{
    background-color: red;
    width: 90%;

    &-item{
        width: 100%;
    }
}
