.host-container{
   display: flex;
   justify-content: space-between;
   gap: 10px;

   &-name{
      color: $primaryColor;
      display: flex;
      align-items: center;
      white-space: pre-line;
   }
   &-img{
      width: 70px;
      height: 70px;
      border-radius: 50%;
   }
}