.collapse-container{

       margin-bottom: 20px;

        &-header{
            display: flex;
            justify-content: space-between;
            background-color: $primaryColor;
            border-radius: 10px;
            color: white;
            &-title{
                background-color: $primaryColor;
                color: white;
                margin-left: 0px 20px;
            }
        }

        &-content{
            background-color: $backgroundCard ;
            color: black;
            padding: 10px;
            
    }
}

li{
    list-style-type: none;
}