.product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;

    &-title {
        color: $primaryColor;
        font-size: 20px;
    }

    &-location {
        font-size: 15px;
    }

    &-infos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;

        @media screen and (min-width: $tablet) {
            flex-direction: column-reverse;
            align-items: flex-end;
        }
    }

    &-collapse {
        display: flex;
        flex-direction: column;
        width: 100%;

        @media screen and (min-width: $tablet) {
            flex-direction: row;
            justify-content: space-between;
        }

        .collapse-container {
            width: 100%;
            margin-bottom: 10px;

            @media screen and (min-width: $tablet) {
         width: 88%;
                margin-bottom: 0;
            }
        }
    }
}

.collapse-container {
    width: 100%;
    margin-bottom: 20px;

    @media screen and (min-width: $tablet) {
        width: 48%;
        margin-bottom: 0;
    }
}
