.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100vw;
    background-color: black;
    color: white;
    margin: 0; 
    position: relative;
    left: 50%;
    transform: translateX(-50%);

}
@media screen and (min-width: $laptop) {

    .footer-container{
        height: 200px;
    }
}