.error-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: $primaryColor;
   margin: 50px 0px 130px 0px;
   min-height: 650px;
   width: 100%;
   


  

   &-title{
    font-weight: bold;
    font-size: 96px;
   }

   &-txt{
      margin: auto;
      text-align: center;
      font-weight: bold;
     
   }

   &-link{
      text-decoration: underline;
      font-weight: bold;
   }

}

@media screen and (min-width: $tablet) {

   .error-container{
   &-title{
      font-size: 196px;
     }

     &-txt{
      font-size: 35px;
      margin-bottom: 200px;
     }
   }
}