.banner-container {
    width: 90%;
    height: 111px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: left;
    padding-left: 30px;
    font-size: 12px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: start;
    align-items: center;
    

    &-title {

        color: $textColor
    }
}

@media screen and (min-width: $tablet) {
    .banner-container {
        height: 223px;
        justify-content: center;
        padding-left: 0px;

        &-title {

            font-size: 48px;
            text-align: center;
            
        }
    }
}